.beige {
    color: #FEF4E8;
}
.bg-beige {
    background-color: #FEF4E8;
}
.mauve {
    color: #970747;
}
.bg-mauve {
    background-color: #970747;
}
.image-100 {
    width: 100px;
}
.small-logo {
    max-width: 50px;
    max-height: 50px;
}
.image-50 {
    height: 50vh;
    width: 100%;
}


video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: 700px;
	z-index: 0;
	transform: translateX(-50%) translateY(-50%);
}

.parallax {
    /* The image used */
    background-image: url("assets/img/The\ district.png");
  
    /* Set a specific height */
    min-height: 50vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  /*--------------------------------------------------------------------------------------------------------------------*/

  * {
	font-family: montserrat;
  }

.video-container {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.parallax-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.parallax2 {
    background-image: url(assets/img/The\ district\ \(1\).png);
}

.card {
    width: 30vh;
    transition: transform .2s;
}

.card:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

footer li:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform:scale(1.2);
}

.max-car {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.carousel-caption {
    margin-bottom: 200px;
}

.nav-link {
    font-weight:600;
    font-size: larger;
}

.fleche-g {
    position: absolute;
    top: 85%;
    z-index: 5;
    display: inline-block;
    }

.fleche-d {
    
    position: absolute;
    top: 85%;
    z-index: 5;
    display: inline-block;
    }

.fleche {

}

