body {
    min-width: 100vh;
}
.beige {
    color: #FEF4E8;
}
.bg-beige {
    background-color: #FEF4E8;
}
.mauve {
    color: #970747;
}
.bg-mauve {
    background-color: #970747;
}
.border-mauve {
    --bs-border-opacity: 1;
    border-color: #970747 !important;
}
.image-100 {
    width: 100px;
}
.small-logo {
    max-width: 50px;
    max-height: 50px;
}
.image-50 {
    height: 50vh;
    width: 100%;
}


video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: 700px;
	z-index: 0;
	transform: translateX(-50%) translateY(-50%);
}

.parallax {
    /* The image used */
    background-image: url("/assets/img/parallax/The\ district.png");
    
    /* Set a specific height */
    min-height: 50vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FEF4E8;
  }


  /*--------------------------------------------------------------------------------------------------------------------*/

  * {
	font-family: montserrat;
  }

.video-container {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.parallax-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.parallax2 {
    background-image: url("/assets/img/parallax/The\ district\ \(1\).png")
}

.card {
    transition: transform .2s;
}


.card:hover  {
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

footer li:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform:scale(1.2);
}

.max-car {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.carousel-caption {
    margin-bottom: 40vh;
}

.nav-link {
    font-weight:600;
    font-size: larger;
}

.fleche {
    width: 180px;
}

.text-bg-mauve {
    background-color:#970747;
}

  /* Classe pour les cartes */
  .card-custom {
    max-height: 260px;
    margin: 0;
    border: 1px solid #ccc; /* Ajoutez une bordure autour des cartes si nécessaire */
    overflow: hidden; /* Empêche le contenu de déborder de la carte */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Place le contenu en bas de la carte */
    
  }
  
  /* Classe pour positionner le bouton "Commander" et le prix en bas à droite */
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  


.scrollable-text {
    max-height: 100px; /* Hauteur maximale souhaitée */
    overflow-y: auto; /* Ajoutez une barre de défilement verticale en cas de dépassement du contenu */
}
@media (max-width: 768px) {@media (max-width: 768px) {
    .card {
        width: 100%;
        height: auto;
    }
    .card-custom{
        max-height: max-content;
        display: flex;
      }
    .card-img {
        height: auto;
        width: auto;
    }
  }
}

.btn-form {
    background-color: #FEF4E8;
    transition: transform 0.4s;
    border-color: #970747;
    border-width: 2px ;
}
.btn-form:hover {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15);
    border-color: #970747;
}